DATABASE_URL="mysql://root:@127.0.0.1:3306/dokgen_db"
BETTER_AUTH_SECRET="your-secret-key-at-least-32-chars-long"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000,https://docgen.mipdevp.com"
RESEND_API_KEY=""
RESEND_FROM="Dokgen <kirim@example.com>"
BLOB_READ_WRITE_TOKEN=""
